body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1, h2 {
    text-align: center;
    color: #ffffff;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, button {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #333;
    color: #e0e0e0;
}

.btn {
    background-color: #6200ea;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #3700b3;
}

.btn-upload {
    background-color: #4CAF50;
}

.btn-upload:hover {
    background-color: #45a049;
}

.btn-export {
    background-color: #ff9800;
}

.btn-export:hover {
    background-color: #e68900;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #333;
}

.form-popup {
    padding: 10px;
    border: 1px solid #333;
    background-color: #1e1e1e;
    border-radius: 5px;
    margin-top: 10px;
}

/* Menü-Stile */
.menu-toggle {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 1000;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 4px 0;
    transition: 0.4s;
}

.menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    margin: 10px 0;
    transition: color 0.3s;
}

.menu a:hover {
    color: #6200ea;
}

.notification {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1001;
    border-radius: 5px;
}

.notification .close {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.notification .close:hover {
    color: black;
}
